{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load humanize %}

{% block style %}
<style>

	.form-question{
		font-size: 14pt;
		text-align: center;
		margin-bottom: 20px;
	}

	.separator{
		margin-top: 20px;
	}

	.form-label{
		font-weight: bold;
		margin-bottom: 10px;
	}

	.btn-right{
		text-align: right;
	}

	a.my-a{
		color: #404040;
	}
	a.my-a.add:hover{
		color: #00bb00;
	}
	a.my-a.edit:hover{
		color: #0000ee;
	}
	a.my-a.delete:hover{
		color: #bb0000;
	}

	legend.my-legend{
		margin-top: 1px;
		margin-bottom: 1px;
	}

	.row.player-row{
		padding-top: 2px;
	}
	.row.player-row:hover, .row.player-row a:hover{
		background-color: #808080;
		color: #e0e0e0;
		text-decoration: none;
	}

	.row.player-row a{
		color: #404040;;
	}

	.my-container{
		background-color: #f4f4f4;
		margin-left: 5px;
		margin-right: 5px;
		padding: 10px;
		border: 1px solid #eeeeee;
	}

	.read-only-field input{
		border: 0px;
		background-color: transparent;

	}

	div.modal-content{
		color : black ;
	}

	.add-player{
		margin-left: 15px;
		margin-top: 10px;
	}

</style>
{% endblock %}

{% block title %}{% trans "Teams" %}{% endblock %}

{% block page_settings %}{% endblock %}

{% block alert %}
<div>
	{% if alert_form_team %}
		<span class="alert alert-danger">Team form error: {{ alert_form_team }}</span>
	{% elif alert_form_player %}
		<span class="alert alert-danger">Player form error: {{ alert_form_player }}</span>
	{% endif %}
</div>
{% endblock %}

{% block content %}
{% if teams|length == 0 or add_new_team %} <!-- NEW TEAM -->
	<div class="container well">
		{% if teams|length == 0 %}
		<div class="row">
			<div class="col-md-12 form-question">
				{% trans "You don't have any team yet. Do you want to create one ?" %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-4 col-md-1">
				<a href="javascript:history.back()" class="btn btn-danger btn-answer">{% trans "No" %} !</a>
			</div>
			<div class="col-md-offset-2 col-md-1">
				<div class="btn btn-success btn-answer btn-yes">{% trans "Yes" %} !</div>
			</div>
		</div>
		{% endif %}
		<form action="#" method="post" class="form create-team hide-me" id="connection-form">
			{% csrf_token %}

			<legend>{% trans "Team" %}</legend>
			<div class="row">
			    <div class="col-md-4 ">
	    			{% bootstrap_field create_team_form.name %}
			    </div>
			    <div class=" col-md-5">
	    			<div class="form-label">{% trans "Coach" %}</div>
	    			{{ user.username }}
			    </div>
		    </div>
		    <div class="row">
			    <div class="col-md-2 ">
	    			<span id="form-reroll-value" class="create-team-field">{% bootstrap_field create_team_form.reroll_value %}</span>
			    </div>
			    <div class="col-md-2 ">
	    			<span id="form-reroll" class="create-team-field">{% bootstrap_field create_team_form.reroll %}</span>
			    </div>
			    <div class="col-md-2">
	    			<span id="form-pop" class="create-team-field">{% bootstrap_field create_team_form.pop %}</span>
			    </div>
		    </div>

		    <legend>{% trans "Assistants" %}</legend>
			<div class="row">
			    <div class="col-md-2 form-label">
					<span id="form-apo" class="create-team-field">{% bootstrap_field create_team_form.apo %}</span>
			    </div>
			    <div class="col-md-2 form-label"> 
					<span id="form-pompom" class="create-team-field">{% bootstrap_field create_team_form.pompom %}</span>
				</div>
				<div class="col-md-2 form-label">
					<span id="form-assistant" class="create-team-field">{% bootstrap_field create_team_form.assistant %}</span>
				</div>
			</div>

			<legend>{% trans "Treasury" %}</legend>
			<div class="row">
			    <div class="col-md-2 form-label">
			    	<span class="read-only-field" id="form-team-value">{% bootstrap_field create_team_form.value %}</span>
			    </div>
			    <div class="col-md-offset-2 col-md-2 form-label">
					<span class="read-only-field" id="form-treasury">{% bootstrap_field create_team_form.treasury %}</span>
				</div>
			</div>

			<legend class="separator"></legend>
		    <div class="row">
				<div class="col-md-offset-8 col-md-2">
					<a href="javascript:history.back()" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-floppy-remove"></span> {% trans "Cancel changes" %}</a>
				</div>
				<div class="col-md-2">
				    <button type="submit" class="btn btn-success pull-right" id="save-btn"><span class="glyphicon glyphicon-floppy-save"></span> {% trans "Continue" %}</button>
				</div>
			</div>
			<span id="create-new-team" hidden>{% bootstrap_field create_team_form.new_team %}</span>
		</form>
	</div>

{% else %} <!-- Display existing teams -->
	
	<ul class="nav nav-tabs">
	{% for t in teams %}
		{% if forloop.first %}
			<li class="active"><a href="#{{ t.id }}" data-toggle="tab" id="nav-{{ t.id }}">{{ t.name }}</a></li>
		{% else %}
			<li><a href="#{{ t.id }}" data-toggle="tab" id="nav-{{ t.id }}">{{ t.name }}</a></li>
		{% endif %}
	{% endfor %}
		<li><a href="{% url 'teams:index_new_team_url' %}" id="btn-new-team"><span class="glyphicon glyphicon-plus"></span>{% trans "Add new team" %}</a></li>
	</ul>

	<div class="tab-content">
	{% for t in teams %}
		{% if forloop.first %}
			<div class="tab-pane active" id="{{ t.id }}">
		{% else %}
			<div class="tab-pane" id="{{ t.id }}">
		{% endif %}
				<div class="my-container">
					<legend>{% trans "Team" %} : <b>{{ t.name }}</b></legend>
					<div class="row">
					    <div class="col-md-2 form-label">
							{% trans "Coach" %}
					    </div>
					    <div class="col-md-2 form-label">
							{% trans "Reroll" %}
						</div>
						<div class="col-md-2 form-label">
							{% trans "Team value" %}
						</div>
						<div class="col-md-2 form-label">
							{% trans "Treasury" %}
						</div>
						<div class="col-md-2 form-label">
							{% trans "Popularity" %}
						</div>
					</div>
					<div class="row">
					    <div class="col-md-2">
							{{ t.coach }}
					    </div>
						<div class="col-md-2">
							{{ t.reroll}}
						</div>
						<div class="col-md-2">
							{{ t.value|intcomma }}
						</div>
						<div class="col-md-2">
							{{ t.treasury|intcomma }}
						</div>
						<div class="col-md-2">
							{{ t.pop }}
						</div>
					</div>

					<div class="separator"></div>
					<legend>{% trans "Assistants" %}</legend>
					<div class="row">
					    <div class="col-md-2 form-label">
							{% trans "Apothicary" %} {% if not t.apo %}<a href="{% url 'teams:add_apo_url' team_id=t.id %}"class="glyphicon glyphicon-plus my-a add"></a> {% else %}<a href="#"class="glyphicon glyphicon-minus my-a delete"></a>{% endif %}
					    </div>
					    <div class="col-md-2 form-label"> 
							{% trans "Pom-pom girls" %} <a href="{% url 'teams:add_pompom_url' team_id=t.id %}"class="glyphicon glyphicon-plus my-a add"> </a>{% if t.pompom > 0 %}<a href="#"class="glyphicon glyphicon-minus my-a delete"></a>{% endif %}
						</div>
						<div class="col-md-2 form-label">
							{% trans "Assistant coaches" %} <a href="{% url 'teams:add_assistant_url' team_id=t.id %}"class="glyphicon glyphicon-plus my-a add"> </a>{% if t.assistant > 0 %}<a href="#"class="glyphicon glyphicon-minus my-a delete"></a>{% endif %}
						</div>
					</div>
					<div class="row">
					    <div class="col-md-2">
							{% if t.apo %}
								<span class="glyphicon glyphicon-ok"></span> {% trans "Yes" %}
							{% else %}
								<span class="glyphicon glyphicon-remove"></span> {% trans "No" %}
							{% endif %}
					    </div>
						<div class="col-md-2">
							{{ t.pompom}}
						</div>
						<div class="col-md-2">
							{{ t.assistant }}
						</div>
					</div>

					<div class="separator"></div>
					<legend>{% trans "Players" %} - <i>{{ t.size }}/16</i> <a href="#"class="glyphicon glyphicon-plus my-a add add-player"></a></legend>
					{% for p in t.player_set.all|dictsort:"number" %}
						{% if forloop.first %}
						<div class="row">
								<div class="col-md-5">
							    <div class="col-md-1 form-label">
							    	#
							    </div>
							    <div class="col-md-4 form-label">
									{% trans "Position" %}
							    </div>
							    <div class="col-md-4 form-label">
									{% trans "Name" %}
								</div>
								<div class="col-md-3 form-label">
									{% trans "MA" %}-{% trans "ST" %}-{% trans "AG" %}-{% trans "AV" %}
								</div>
							</div>
							<div class="col-md-7">
								<div class="col-md-8 form-label">
									{% trans "Skills" %}
								</div>
								<div class="col-md-1 form-label">
									{% trans "XP" %}
								</div>
								<div class="col-md-1 form-label">
									{% trans "Value" %}
								</div>
								<div class="col-md-2 form-label">
								</div>
							</div>
						</div>
						{% endif %}
						<legend class="my-legend"></legend>
					    <div class="row player-row">
					    	<div class="col-md-5">
							    <div class="col-md-1">
									#{{ p.number }}
							    </div>
							    <div class="col-md-4">
									{{ p.position }}
							    </div>
							    <div class="col-md-4">
									{{ p.name }}
								</div>
								<div class="col-md-3">
									{{ p.ma }} - {{ p.st }} - {{ p.ag }} - {{ p.av }}
								</div>
							</div>
							<div class="col-md-7">
								<div class="col-md-8">
									{% for s in p.skillFR.all %}
										{% if forloop.last %}
											<a data-toggle="modal" href="#modal{{ s.id }}">{{ s }}</a>

										{% else %}
											<a data-toggle="modal" href="#modal{{ s.id }}">{{ s }},</a>
										{% endif %}

											<div class="modal fade" id="modal{{ s.id }}" role="dialog">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															<h4 class="modal-title">{{ s.name }} -<i> {% trans "skill type" %} : {{ s.s_type.name }}</i></h4>
														</div>
														<div class="modal-body">
															{{ s.description }}
														</div>
													</div>
												</div>
											</div>
									{% endfor %}
								</div>
								<div class="col-md-1">
									{{ p.xp }}
								</div>
								<div class="col-md-1">
									{{ p.value|intcomma }}
								</div>
								<div class="col-md-2">
									<a href="#" class="glyphicon glyphicon-pencil my-a edit"></a> 
									<a href="{% url 'teams:delete_player_url' player_id=p.id %}" class="glyphicon glyphicon-trash my-a delete"></a>
								</div>
							</div>
						</div>						
					{% endfor %}

					<legend class="separator"></legend>		

				    <div class="row">
				    	<div class="col-md-2">
							<a href="{% url 'teams:delete_team_url' team_id=t.id %}" class="btn btn-danger delete-team"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete team" %}</a>
						</div>
					</div>
					<form action="#" method="post" class="form add-player-form hide-me">
						{% csrf_token %}

						<legend class="separator">{% trans "New player" %}</legend>
					    <div class="row">
						    <div class="col-md-2">
				    			{% bootstrap_field create_player_form.number %}
						    </div>
						    <div class="col-md-5">
				    			{% bootstrap_field create_player_form.position %}
						    </div>
						    <div class="col-md-5">
				    			{% bootstrap_field create_player_form.name %}
						    </div>
						</div>
						<span class="create-new-player" hidden>{% bootstrap_field create_player_form.new_player %}</span>
						<input type="hidden" value="{{ t.id }}" name="team_id">
						<div class="row">
							<div class="col-md-2 col-md-offset-8 btn-right">
								<a href="#" class="btn btn-warning cancel-add-player"><span class="glyphicon glyphicon-floppy-remove"></span> {% trans "Cancel" %}</a>
							</div>
							<div class="col-md-2 btn-right">
							    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% trans "Add player" %}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
	{% endfor %}
	</div><!--end of div content-tab-->
		  
{% endif %}





	{% bootstrap_javascript True %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#settings-dropdown').hide();
			$('#connected-dropdown').addClass("select-nav");
			$('.alert').delay(5000).fadeOut(500);
			$('form.add-player-form').hide();
			$('#nav-{{ tab_id }}').tab('show');


			if({{ teams|length }} == 0){
				$('form.create-team').hide();
			}else{
				$('#create-new-team input').prop('checked',true);
			}

			$('.btn-answer.btn-success').hover(
				function(){
					$("form.create-team.hide-me").show(150);
				},function(){
					$("form.create-team.hide-me").hide(150);
			});
			$('.btn-answer.btn-success').click(
				function(){
					$("form.create-team").show().removeClass('hide-me');
					$('.btn-yes').attr('disabled','disabled').removeClass("btn-success").addClass("btn-default");
					$('.btn-answer.btn-danger').attr('disabled','disabled').removeClass("btn-danger").addClass("btn-default");
					$('#create-new-team input').prop('checked',true);
			});

			$('.add-player').hover(
				function(){
					$("form.add-player-form.hide-me").show(150);
				},function(){
					$("form.add-player-form.hide-me").hide(150);
			});
			$('.add-player').click(
				function(){
					$("form.add-player-form.hide-me").show().removeClass('hide-me');
					$('.delete-team').attr('disabled','disabled').removeClass("btn-danger").addClass("btn-default");
					$('.add-player').attr('disabled','disabled')
					$('.create-new-player input').prop('checked',true);


			});

			$('.cancel-add-player').click(
				function(){
					$('form.add-player-form').addClass('hide-me').hide(150);
					$('.delete-team').removeAttr('disabled').removeClass("btn-default").addClass("btn-danger");
					$('.add-player').removeAttr('disabled')
					$('.create-new-player input').prop('checked',false);

			});

			$('.create-team-field input').change(
				function(){
					ReCalc();
					
			});

			var ReCalc = function(){
				if($('#form-apo input').prop('checked') == true){
					$('#form-team-value input').val(
						50000 +
						$('#form-reroll input').val() * $('#form-reroll-value input').val() +
						$('#form-pop input').val() * 10000 +
						$('#form-pompom input').val() * 10000 +
						$('#form-assistant input').val() * 10000
					);
				}else{
					$('#form-team-value input').val(
						$('#form-reroll input').val() * $('#form-reroll-value input').val() +
						$('#form-pop input').val() * 10000 +
						$('#form-pompom input').val() * 10000 +
						$('#form-assistant input').val() * 10000
					);
				}

				if($('#form-apo input').prop('checked') == true){
					$('#form-treasury input').val(
						950000
						- $('#form-reroll input').val() * $('#form-reroll-value input').val() 
						- $('#form-pop input').val() * 10000
						- $('#form-pompom input').val() * 10000
						- $('#form-assistant input').val() * 10000
					);
				}else{
					$('#form-treasury input').val(
						1000000
						- $('#form-reroll input').val() * $('#form-reroll-value input').val() 
						- $('#form-pop input').val() * 10000
						- $('#form-pompom input').val() * 10000
						- $('#form-assistant input').val() * 10000
					);
				}
			};
		});
	</script>
{% endblock %}